<!DOCTYPE html>
<html class="no-js" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head">
</head>
<body>
	<!--
	header-img start 
	============================== -->
	<section id="hero-area">
		<img class="img-responsive" th:src="@{/images/header.jpg}" alt="">
	</section>
	<header th:insert="fragments/menu :: menu-principal"> </header>

	<div class="container">
		<div clas="row">
			<div class="col-md-12">
				<div class="panel panel-warning">
					<h4 class="panel-heading text-center">
						<strong>Menu Principal</strong>
					</h4>
					<div class="panel-body">
						<form action="#" method="post" th:object="${detPedidos}">
							
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<input type="hidden" th:field="${menu.idMenus}"> <label
											for="nombre">Nombre</label> <input type="text"
											class="form-control" th:field="${menu.nombre}" id="nombre"
											name="nombre" placeholder="Nombre del Menu"
											required="required">
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<label for="descripcion">Descripción</label> <input
											type="text" class="form-control" th:field="${menu.descripcion}"
											id="descripcion" name="descripcion"
											placeholder="Breve descripcion del menu" required="required">
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label for="precio">Precio</label> <input type="number"
											class="form-control" th:field="${menu.precio}" id="precio"
											name="precio" required="required">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div clas="row">
			<div class="col-md-12">
				<div class="panel panel-warning">
					<h4 class="panel-heading text-center">
						<strong>Comidas</strong>
					</h4>
					<div class="panel-body">
						<form th:action="@{/carrito/addDetPedido}" method="post">
							<div class="row">
								<div class="col-sm-12">
									<select  id="select-paciente" size="5" multiple="multiple"  class="form-control" name="comidas">
							            <option th:each="detmenu: ${menu.dMenus}"
							                    th:value="${detmenu.comidas.idComidas}"
							                    th:text="${detmenu.comidas.nombre + ' - ' + detmenu.comidas.descripcion}">
							            </option>
        							</select>
									
									<button class="btn btn-default" type="submit">Guardar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>
	<footer th:insert="fragments/footer :: footer"> </footer>
</body>
</html>