<!DOCTYPE html>
<html class="no-js" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head">
</head>
<body>
	<!--
	header-img start 
	============================== -->
	<section id="hero-area">
		<img class="img-responsive" th:src="@{/images/header.jpg}" alt="">
	</section>
	<header th:insert="fragments/menu :: menu-principal"> </header>

	<div class="container">
		<div clas="row">
			<div class="col-md-12">
				<div class="panel panel-warning">
					<h4 class="panel-heading text-center">
						<strong>Menu Principal</strong>
					</h4>
					<div class="panel-body">
						<form th:action="@{/menus/save}" method="post" th:object="${menu}">
							<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
								role="alert">
								¡Lista de errores al procesar el formulario!
								<ul>
									<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
								</ul>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<input type="hidden" th:field="*{idMenus}"> <label
											for="nombre">Nombre</label> <input type="text"
											class="form-control" th:field="*{nombre}" id="nombre"
											name="nombre" placeholder="Nombre del Menu"
											required="required">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="descripcion">Descripción</label> <input
											type="text" class="form-control" th:field="*{descripcion}"
											id="descripcion" name="descripcion"
											placeholder="Breve descripcion del menu" required="required">
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="fecha">Fecha</label> <input type="date"
											class="form-control" th:field="*{fecha}" name="fecha"
											id="fecha" placeholder="Fecha" required="required">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="precio">Precio</label> <input
											type="number" class="form-control" th:field="*{precio}"
											id="precio" name="precio" required="required">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label for="descripcion">Imagen</label> <input type="file"
											class="form-control" th:field="*{imagen}" id="imagen"
											name="imagen" placeholder="B">
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div clas="row">
			<div class="col-md-12">
				<div class="panel panel-warning">
					<h4 class="panel-heading text-center">
						<strong>Comidas</strong>
					</h4>
					<div class="panel-body">
					
						<div class="row">
								<div class="col-sm-12 text-right">
									<a class="btn btn-warning" th:href="@{/menus/detmenus/create/{idMenu} (idMenu=${menu.idMenus})}">Agregar</a>
								</div>
								<div class="col-sm-12">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Id</th>
												<th>Comida</th>
												<th colspan="2">Accion</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="detmenu: ${menu.dMenus}">
												<td th:text="${detmenu.iddetMenus}"></td>
												<td th:text="${detmenu.comidas.nombre}"></td>
												<td>
													<a th:href="@{/menus/detmenus/view/{idDet} (idDet=${detmenu.iddetMenus})}" class="btn btn-success btn-sm" role="button" title="Editar">
														<i class="fa fa-refresh" aria-hidden="true"></i>
													</a> 
													<a th:href="@{/menus/detmenus/delete/{id} (id=${detmenu.iddetMenus})}" onclick="return confirm('¿Estas seguro de eliminar?')" class="btn btn-danger btn-sm" role="button" title="Eliminar"> 
														<i class="fa fa-trash"aria-hidden="true"></i>
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<footer th:insert="fragments/footer :: footer"> </footer>
</body>
</html>